*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/yandexart-fbv5mtrvuc5u1vrlnbkh.jpeg
/yandexart-fbvbnoab0dgud55feie7.jpeg
/yandexart-fbve24b6v80jf4vd0uc6.jpeg
/yandexart-fbvhej6frojm318ijcd0.jpeg
